#heading1{
    font-size: 40px;
}
canvas{
    border: 5px;
    border-style: solid;
    border-color: aqua;
    animation-name:ani1;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes ani1{
    from{
        box-shadow: 1px 1px 30px rgb(255, 201, 255);
    }
    to{
        box-shadow: 1px 1px 30px rgb(137, 137, 255);
    }
}